doctype html
html
  != head

  body
    #app!= body

    script.
      window.__CHUNKS__ = !{chunks};
    script.
      window.__DATA__ = !{data};
    script(src="#{vendorAsset}")
    script(src="#{jsAsset}")
