doctype html
html

  head
    base(href="/")
    meta(charset="utf-8")

    title= title

    meta(name="viewport" content="width=device-width")

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    link(rel="stylesheet" href="/assets/#{cssAsset}")

    meta(name="description" content="")
    meta(name="keywords" content="")

    meta(property="og:type" content="website")
    meta(property="og:title" content="")
    meta(property="og:site_name" content="")
    meta(property="og:url" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    meta(property="fb:app_id" content="")

    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="apple-touch-icon" href="/images/apple-touch-icon.png")
    link(rel="image_src" href="//url.to/images/apple-touch-icon.png")

  body
    #app!= body
    script(src="/assets/#{vendorAsset}")
    script(src="/assets/#{jsAsset}")
